* { padding:0px; margin:0px; }

.no-bullets {
    list-style-type: none;
}

#headerMine {
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
    width: 100%;
}

#padding {
    padding-top: 40px;
}

#formMine {
    line-height:30px;
	line-height: 100%;
    background-color:white;
    height:500px;
    width:500px;
    float:left;
    padding:20px;
}

#formMine2 {
    background-color:white;
    height:500px;
    width:500px;
    float:left;
    padding:20px;
}

.input {
	background-color: black;
}

.main-formMine tr {
	height:30px;
}

.main-formMine td:nth-child(1) {
	width:150px;
}

